@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,300&family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  html{
    font-size: 62.5%;
  }

  body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
  } 

.main-container{
  
    display: flex;
    height: 100vh;
    background-color:#f0fbff;
}

.main-container .container1{
 width: 50%;
 border: 2px solid green;
}

.main-container .container2{
    width: 50%;
    padding: 25rem 15rem;
    border: 2px solid blue;
}
.main-container .container2 h1{
    font-size: 50px;
}


.btn-container{
    padding: 2rem 0;
    margin: 4rem 0;
}

.btn{
    padding: 15px 15px;
    border-radius: 50%;
    margin: 8px 8px;
    background: var(--color);
    cursor: pointer;
    border: none;
}
.btn1{
 --color:#242424;
}

.btn2{
    --color:#9d9fa1;
   }

   .btn3{
    --color:#4c515a;
   }

   .btn4{
    --color:#e71984;
   }

   .btn5{
    --color:#24aed4;
   }

   .btn6{
    --color:#f5b556;
   }

   .btn7{
    --color:#e06d1f;
   }
   .btn8{
    --color:#c9144e;
   }

   .container2 h3{
    font-size: 25px;
   }
   .container2 .p1{
    font-size: 18px;
   }
   .container2 .p2{
    font-size: 13px;
   }

   .container2 .img{
    padding-top: 1rem;
    width: 450px;
    height: 40px;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size:20px;
    background-color: #3bc1ed;
    color: #f0fbff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   

   .icon{
    padding-right: 100px;
    padding-left: 10px;
    color:white;
   
   }

   .container1 .rotate-image{
      height: 84.708px;
      width: 161.778px;
     margin-top: 35rem;
     margin-left: 35rem;
     
   }
    .rotate-image{
      display: none;
    }
   .colorRed{
    /* stroke: #c9144e; */
     fill: #3bc1ed;
   }

   .uploadicon{
    fill: white;
   }
   .container1{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   #containerImage{
    height: 60%;
    width: 60%;
   }

   #logo{
    position: relative;
    top: 200px;
    right: 280px;
   }
   #uplogo{
      display: none;
   }
  .uploadicon{
    fill: white;
  }
   .file-input {
    position: relative;
    z-index: 1;
    opacity: 0;
  }
  
  .icon-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }